{% extends "site_base.html" %}
         {% block body %}
                You are log out.

                <form method="post" action="{% url 'django.contrib.auth.views.logout' %}"  id="hongkiat-form">
                    {% csrf_token %}
                     <section id="buttons">
                        <input type="submit" value="Back to Blogs" class="submitbtn" id="submitbtn">
                    </section>
                    <input type="hidden" name="next" value="{%if request.GET.next %}{{ request.GET.next }}{% else %}/forum/users/{{ user.username }}{% endif %}"/>
                </form>
         {% endblock %}