{% extends "site_base.html" %}
{% block extra_script %}
<script>


$(document).ready(function () {
    $("#upload_sitemap").css( "display", "none");
    $("#sitemap").css( "display", "none");
    $("#recipient").change(function(){
        $("#upload_sitemap").css( "display", "none");
        $("#sitemap").css( "display", "none");
        var optionval =  $( "#recipient" ).val();
        $("#" + optionval).css( "display", "");

    });


  $('.ball, .ball1').css( "display", "none");
		$('#submitbtn').click(function() {
				$('.ball, .ball1').css( "display", "");
		});


        });


      </script>

{% endblock %}
{% block body %}
<h1>Compare URLs in sitemap with SERP</h1>
<form action="/tools/sitemap-indexed/" method="post" id="hongkiat-form"  enctype="multipart/form-data">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.url.errors }}

        <input id="id_subject" name="website_url" type="text" class="txtinput" placeholder="Website URL:">
    </div>

    <div class="fieldWrapper">

        <h3>Get sitemap:</h3>
       <select id="recipient" name="sitemap_option" class="selmenu">
           <option value="">Select...</option>
            <option value="upload_sitemap">Upload the sitemap</option>
            <option value="sitemap">Enter sitemap URL</option>





		</select>
    </div>
    <div id="sitemap">
        <h3>Enter the sitemap URL</h3>
        <p class="error">Note: This option is not currently available, as I'm using the free hosting.</p>
        <input id="sitemap_url" name="sitemap_url" type="text" class="txtinput" placeholder="Sitemap URL:">
    </div>
    <div id="upload_sitemap">
        <h3>Attach the sitemap for the URL above</h3>
        <input id="attachments" name="filedocs" type="file">
    </div>
    <section id="buttons">
        <input type="submit" value="Check sitemap" class="submitbtn" id="submitbtn"/>
    </section>
</form>
        <br class="spacebottom" />
        {% if not_indexed %}
        <div class="notindex">
            <h3>URLs in the sitemap are not indexed by Google</h3>
            {% for item in not_indexed %}
                {{ item }}<br />
            {% endfor %}

        </div>
        {% endif %}
        {% if not_sitemap %}

         <div class="notsitemap">
            <h3>URLs indexed are not included in sitemap</h3>
        {% for item in not_sitemap %}
            {{ item }}<br />
        {% endfor %}

        </div>
        {% endif %}

        <br class="spacebottom" />
        <div class="errorlist">{{ error }}</div>
               <div class="ball"></div>
        <div class="ball1"></div>

{% endblock %}
